.data {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-bottom: 30px;
}

.table-container {
  overflow-y: auto;
  max-width: 100%;
}

.table {
  width: 100%;
  white-space: nowrap;
}
